1. The machine should support adding products of different types of variable quantities.
2. The machine should accept coins of different denominations.
3. The machine should dispense the selected product and refund any excess amount if needed.
4. The machine should keep track of the product inventory and their respective quantities.
5. The machine should be able to handle invalid inputs, such as selecting a product that is out of stock or incorrect product.

Out of Scope

1. The machine will not support online payments or mobile payments.
2. The machine will not have a user interface for selecting products.